{% extends 'base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/homepage.css')}}"/>
    <script src="{{ asset('js/homepage.js') }}"></script>
{% endblock %}

{% block title %}SnowTricks{% endblock %}

{% block body %}

    <div class="hero">
        <h1>SnowTricks</h1>
        <p class="hero-text">Partagez votre passion !</p>
    </div>

    <a href="#tricks" class="nav-btn btn btn-info" >V</a>

    <div id="tricks">
        {% include('home/tricks.html.twig') %}
        {# This div will be fed by ajax request to HomeController, fetching a limited number of tricks : see js/homepage.js #}
    </div>

        {# TODO BUTTON HERE #}
    <a id="load-more-btn" class="text-center" onclick="loadMoreTricks()">[LOAD MORE]</a>

{% endblock %}


