.carousel-container {
    display: flex;
    justify-items: center;
    gap: 1em;
    padding: 1em 2em;
}

.trick-media-carousel {
    display: flex;
    justify-items: center;
}

#btn-prev, #btn-next {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #0d92bd;
    font-size: 2rem;
}

.trick-media-carousel {
    display: flex;
    justify-items: center;
    overflow-x: scroll;
    scroll-behavior: smooth;
    width: 100%;
}

.trick-media-carousel::-webkit-scrollbar {
    display: none;
}

.media {
    position: relative;
    flex-basis: 20%; /* Allow for 4 medias displayed on carousel */
    flex-shrink: 0;
    border: 1px solid black;
    line-height: 0; /* Fix bottom padding on iframes */
}

.media > img, .media > iframe {
    width: 100%;
    height: 180px;
}

.media-controls {
    position: absolute;
    display: flex;
    right: 0.5rem;
    gap: 0.5rem;
    top: 0.25rem;
    z-index: 5;
}

.media-controls a {
    text-decoration: none !important;
}

.media-controls a img {
    width: 100%;
    height: 24px;
    border-radius: 50%;
    border: blue 1px solid;
    cursor: pointer;
}

.popup-form-container {
    display: none;
    position: fixed;
    left: 35%;
    top: 5%;
    border: 3px solid #999999;
    background-color: lightgrey;
    z-index: 9;
}