{% extends 'base.html.twig' %}

{% block title %}Hello TrickController :: CREATE !{% endblock %}

{% block body %}

<h1 class="text-center" style="margin: 80px;">Ajouter un trick</h1>

{{  form(formTrick) }}

{% endblock %}