{% extends 'base.html.twig' %}

{% block title %}{{ trick.title }}{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('css/trick.css')}}"/>

    <div class="trick-container container">

        <link rel="stylesheet" href="{{ asset('css/media-carousel.css')}}"/>
        <script src="{{ asset('js/media-carousel.js') }}"></script>
        <div id="carousel-template">
            {% include('trick/media_carousel.html.twig') %}
        </div>

        {% block trickBody %}{% endblock %}

    </div>

{% endblock %}
